In [1]:
from pymongo import MongoClient

# Replace the URI string with your MongoDB deployment's connection string.
client = MongoClient("mongodb://localhost:27017/")

# Access a specific database
db = client['mydatabase']

# Access a specific collection
collection = db['mycollection']

#CRUD Operation

In [3]:
#insert

document = {
    "name": "BOB",
    "age": 30,
    "city": "New York"
}
collection.insert_one(document)

InsertOneResult(ObjectId('667f974ad6303bff107430d3'), acknowledged=True)

In [7]:
#Insert multiple documents:
documents = [
    {"Name":  "Nilesh", "Age" : 26, "College" : "COPE Pune", "Address" : "Thane"},
    {"Name": "Viru", "Age" : 25, "College" : "NITK", "Address" : "UP"},
    {"Marks": 545, "Subject" : "NoSQL"},
    {"Name": "A", "Age" : 25, "College" : "NITK", "Address" : "KARNATAKA"},
    {"Name": "B", "Age" : 26, "College" : "NITK", "Address" : "KARNATAKA"},
    {"Name": "C", "Age" : 21, "College" : "NITK", "Address" : "BLR"},
]
collection.insert_many(documents)

InsertManyResult([ObjectId('667f99a4d6303bff107430d7'), ObjectId('667f99a4d6303bff107430d8'), ObjectId('667f99a4d6303bff107430d9'), ObjectId('667f99a4d6303bff107430da'), ObjectId('667f99a4d6303bff107430db'), ObjectId('667f99a4d6303bff107430dc')], acknowledged=True)

In [8]:
#Find one document:
result = collection.find_one({"Name": "Nilesh"})
print(result)

{'_id': ObjectId('667f9822d6303bff107430d4'), 'Name': 'Nilesh', 'Age': 26, 'College': 'COPE Pune', 'Address': 'Thane'}

In [11]:
#Find multiple documents:
results = collection.find({"Age": {"$gt": 25}})
for result in results:
    print(result)

{'_id': ObjectId('667f9822d6303bff107430d4'), 'Name': 'Nilesh', 'Age': 26, 'College': 'COPE Pune', 'Address': 'Thane'}
{'_id': ObjectId('667f99a4d6303bff107430d7'), 'Name': 'Nilesh', 'Age': 26, 'College': 'COPE Pune', 'Address': 'Thane'}
{'_id': ObjectId('667f99a4d6303bff107430db'), 'Name': 'B', 'Age': 26, 'College': 'NITK', 'Address': 'KARNATAKA'}

In [12]:
#Update one document:
collection.update_one({"Name": "Nilesh"}, {"$set": {"age": 31}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [15]:
#Update multiple documents:
collection.update_many({"College": "COPE Pune"}, {"$set": {"College": "VIT"}})

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [16]:
#Delete one document:
collection.delete_many({"Age": {"$lt": 30}})

DeleteResult({'n': 7, 'ok': 1.0}, acknowledged=True)

In [17]:
#Insert multiple documents:
documents = [
    {"Name":  "Nilesh", "Age" : 26, "College" : "COPE Pune", "Address" : "Thane"},
    {"Name": "Viru", "Age" : 25, "College" : "NITK", "Address" : "UP"},
    {"Name": "A", "Age" : 25, "College" : "NITK", "Address" : "KARNATAKA"},
    {"Name": "B", "Age" : 26, "College" : "NITK", "Address" : "KARNATAKA"},
    {"Name": "C", "Age" : 21, "College" : "NITK", "Address" : "BLR"},
    {"Name": "C", "Age" : 21, "College" : "VIT", "Address" : "BLR"},
    {"Name": "C", "Age" : 21, "College" : "MMM", "Address" : "KSR"},
    {"Name": "C", "Age" : 22, "College" : "MMM", "Address" : "KSR"},
    {"Name": "C", "Age" : 35, "College" : "VIT", "Address" : "BLR"},
]
collection.insert_many(documents)

InsertManyResult([ObjectId('667f9c2fd6303bff107430dd'), ObjectId('667f9c2fd6303bff107430de'), ObjectId('667f9c2fd6303bff107430df'), ObjectId('667f9c2fd6303bff107430e0'), ObjectId('667f9c2fd6303bff107430e1'), ObjectId('667f9c2fd6303bff107430e2'), ObjectId('667f9c2fd6303bff107430e3'), ObjectId('667f9c2fd6303bff107430e4'), ObjectId('667f9c2fd6303bff107430e5')], acknowledged=True)

#You can use MongoDB's powerful query language to perform complex queries. Here are a few examples:

In [21]:
#Find documents with multiple conditions:
results = collection.find({"Age": {"$gt": 20}, "Address": "BLR"})
for result in results:
    print(result)

{'_id': ObjectId('667f9c2fd6303bff107430e1'), 'Name': 'C', 'Age': 21, 'College': 'NITK', 'Address': 'BLR'}
{'_id': ObjectId('667f9c2fd6303bff107430e2'), 'Name': 'C', 'Age': 21, 'College': 'VIT', 'Address': 'BLR'}
{'_id': ObjectId('667f9c2fd6303bff107430e5'), 'Name': 'C', 'Age': 35, 'College': 'VIT', 'Address': 'BLR'}

In [23]:
#Use regular expressions:
results = collection.find({"Name": {"$regex": "^N"}})
for result in results:
    print(result)

{'_id': ObjectId('667f9c2fd6303bff107430dd'), 'Name': 'Nilesh', 'Age': 26, 'College': 'COPE Pune', 'Address': 'Thane'}

#Indexing
##Indexing improves the performance of read operations. Create an index on a field:

In [24]:
collection.create_index([("Name", 1)])  # 1 for ascending, -1 for descending

'Name_1'

#Aggregation
##Aggregation operations process data records and return computed results. For example, grouping documents by a field:

In [26]:
# Define the aggregation pipeline
pipeline = [
    {
        "$group": {
            "_id": "$Address",         # Group by the 'city' field
            "total": {"$sum": 1}    # Count the number of documents in each group
        }
    }
]

# Execute the aggregation pipeline
results = collection.aggregate(pipeline)

# Iterate through the aggregation results and print each result
for result in results:
    print(result)

{'_id': 'Thane', 'total': 1}
{'_id': 'BLR', 'total': 3}
{'_id': 'KARNATAKA', 'total': 2}
{'_id': None, 'total': 4}
{'_id': 'UP', 'total': 1}
{'_id': 'KSR', 'total': 2}